body {
  margin: 0;
}

.home-viewport {
  height: 100vh;
  background-color: darkblue;
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-form {
  max-width: 790px;
  min-width: 700px;
}

.search-bar {
  border: 0.1rem solid grey;
  border-radius: 34px;
  min-height: 70px;
  background: #fff;
  width: 100%;
  max-width: 790px;
  min-width: 700px;
  position: relative;
  padding: 5px 70px 5px 32px;
}

.search-input {
  border: none;
  width: 95%;
  position: absolute;
  top: 15px;
  line-height: 40px;
  padding: 4px 0 4px 2px;
  font-size: x-large;
}

input:focus {
  outline: none;
}

.search-button {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: xx-large;
}
